In [1]:
#Importar bibliotecas

In [2]:
!pip install plotly --upgrade

Requirement already satisfied: plotly in /Users/monalisa/opt/anaconda3/lib/python3.8/site-packages (5.4.0)
Requirement already satisfied: six in /Users/monalisa/opt/anaconda3/lib/python3.8/site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/monalisa/opt/anaconda3/lib/python3.8/site-packages (from plotly) (8.0.1)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import plotly.express as px

Primeiro trabalhando com a base de dados de crédito (dados historicos sobre empréstimos concedidos a pessoas físicas). Explicar as colunas. E qual é a variavel target (defaulted/devedor: 0 pagou o emprestimo, 1 nao pagou)

Depois fazer uma analise exploratoria descente pra consolidar o projeto, com os graficos bonitinhos. Acho que vale a pena ate colocar em um arquivo separado. Aqui vamos focar somente na limpeza da base e em rodar os algoritmos

## Base1 - Crédito: prevendo o pagamento de dívida

In [4]:
#importando a base de dados
df = pd.read_csv("../Bases de Dados/credit_data.csv")
base_credit = df
base_credit.head(1)

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0

### Pré-processamento dos dados

Problemas identificados: <br>
1.Age tem menos registros do que as demais colunas <br>
2.idades negativas

In [5]:
# Investigar contagem da variavel de interesse
np.unique(base_credit["default"], return_counts=True)

(array([0, 1]), array([1717,  283]))

In [6]:
#eliminando idades negativas
index = base_credit[base_credit["age"] < 0].index
mean = base_credit[base_credit["age"] > 0]["age"].mean()
base_credit.loc[index,"age"] = mean
base_credit.loc[index,:]

    clientid        income      age         loan  default
15        16  50501.726689  40.9277  3977.287432        0
21        22  32197.620701  40.9277  4244.057136        0
26        27  63287.038908  40.9277  9595.286289        0

In [7]:
base_credit[base_credit["age"] < 0]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [8]:
#eliminando valores nulos
base_credit.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [9]:
index = base_credit[base_credit["age"].isnull()].index
base_credit.fillna(mean,inplace=True)
base_credit.loc[index,:]

    clientid        income      age         loan  default
28        29  59417.805406  40.9277  2082.625938        0
30        31  48528.852796  40.9277  6155.784670        0
31        32  23526.302555  40.9277  2862.010139        0

### Separando as variáveis: explicativas x resposta

In [10]:
X_credit = base_credit.iloc[:,1:4].values
y_credit = base_credit.iloc[:,-1].values

## Escalonamento dos dados

Explicar a diferenca entre padronizacao e normalizacao, talvez mostrar as formulas (aula21). No caso, vamos trabalhar com a padronizacao. Precisa olhar o minimo e o maximo nso so dentro de uma mesma variavel, mas tambem entre. A escala dos numeros pode gerar problemas em algoritmos baseados em distancia como Knn e tambem alguns outros podem dar pesos diferentes pra valores muito altos ou baixos

In [11]:
def showMinMax():
    print(f'Mínimo income: {X_credit[:,0].min()} , Máximo income: {X_credit[:,0].max()}')
    print(f'Mínimo age: {X_credit[:,1].min()} , Máximo age: {X_credit[:,1].max()}')
    print(f'Mínimo loan: {X_credit[:,2].min()} , Máximo loan: {X_credit[:,2].max()}')

In [12]:
showMinMax()

Mínimo income: 20014.4894700497 , Máximo income: 63.971795841120205
Mínimo age: 18.055188510566897 , Máximo age: 63.971795841120205
Mínimo loan: 1.37762959325451 , Máximo loan: 13766.0512393337

In [13]:
from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler() #instanciando classe
X_credit = scaler_credit.fit_transform(X_credit)

In [14]:
showMinMax()

Mínimo income: -1.7676158019964077 , Máximo income: 1.739366520151568
Mínimo age: -1.7264154144794286 , Máximo age: 1.739366520151568
Mínimo loan: -1.4592791099462408 , Máximo loan: 3.0616609141708273

### Base de dados de treino vs teste

In [28]:
from sklearn.model_selection import train_test_split
X_credit_train, X_credit_teste,y_credit_train, y_credit_teste = train_test_split(X_credit, 
                                                                                 y_credit,
                                                                                test_size=0.25,
                                                                                random_state=0)

In [32]:
X_credit_train.shape, X_credit_teste.shape

((1500, 3), (500, 3))

In [33]:
y_credit_train.shape, y_credit_teste.shape

((1500,), (500,))

### Salvar as bases divididas em disco

In [40]:
import pickle

In [43]:
with open("../Bases de Dados/credit.pkl", mode="wb") as f:
    pickle.dump([X_credit_train, y_credit_train, X_credit_teste, y_credit_teste], f)

## Base 2 - Censo: prevendo a renda

In [15]:
#importando a base de dados
df = pd.read_csv("../Bases de Dados/census.csv")
base_census = df
base_census.head(1)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [16]:
#Checar balanceeamento das classes
np.unique(base_census["income"], return_counts=True)

(array([' <=50K', ' >50K'], dtype=object), array([24720,  7841]))

### Separando as variáveis: explicativas x resposta

In [17]:
X_census = base_census.iloc[:,0:-1].values
y_census = base_census.iloc[:,-1]

### Tratando as variáveis categóricas

Passo1: Labeel Encoder <br>
Transformar cada categoria em uma variável quantitativa (inteiro), associando números a cada valor único que ocorre nesta classe. E entao, substituir as strings pelo número correspondente no conjunto de dados original

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [19]:
#depois transformar em um laco
X_census[:,1] = encoder.fit_transform(X_census[:,1])
X_census[:,3] = encoder.fit_transform(X_census[:,3])
X_census[:,5] = encoder.fit_transform(X_census[:,5])
X_census[:,6] = encoder.fit_transform(X_census[:,6])
X_census[:,7] = encoder.fit_transform(X_census[:,7])
X_census[:,8] = encoder.fit_transform(X_census[:,8])
X_census[:,9] = encoder.fit_transform(X_census[:,9])
X_census[:,13] = encoder.fit_transform(X_census[:,13])

In [20]:
X_census[0]

array([39, 7, 77516, 9, 13, 4, 1, 1, 4, 1, 2174, 0, 40, 39], dtype=object)

Passo2: onehot encoding: cria uma coluna para cada número diferente atribuído a uma categoria única e assim elimina a possibilidade dos algoritmos darem pesos diferentes para elas.

In [21]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [22]:
lista_variaveis = [1,3,5,6,7,8,9,13]
onehotencoding_census = ColumnTransformer(transformers=[("OneHot",
                                                        OneHotEncoder(),
                                                         lista_variaveis
                                                        )],
                                                       remainder="passthrough")

In [23]:
X_census = onehotencoding_census.fit_transform(X_census).toarray()

In [24]:
X_census.shape

(32561, 108)

In [25]:
#escalonamento dos dados
from sklearn.preprocessing import StandardScaler
scaler_census = StandardScaler() #instanciando classe
X_census = scaler_census.fit_transform(X_census)

### Avaliação do algoritmo: separando base de teste e treino. 

Aumentamos a base de treino porque esse conjunto de dados é maior do que a base de crédito

In [35]:
from sklearn.model_selection import train_test_split
X_census_train, X_census_test,y_census_train, y_census_test = train_test_split(X_census, 
                                                                                 y_census,
                                                                                test_size=0.15,
                                                                                random_state=0)

In [37]:
X_census_train.shape, X_census_test.shape

((27676, 108), (4885, 108))

In [39]:
y_census_train.shape, y_census_test.shape

((27676,), (4885,))

In [44]:
# salvando variaveis em disco
with open("../Bases de Dados/census.pkl", mode="wb") as f:
    pickle.dump([X_census_train, y_census_train, X_census_test, y_census_test], f)